* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1E2C3E;
}

header {
  background-color: #0D0D1A;
  color: whitesmoke;
  text-decoration: none;
  border-bottom-style: solid;
  border-width: medium;
  border-color: black;
  padding: 5px 10px 5px 10px;
  position: sticky;
  top: 0px;
  align-items: center;
  z-index: 5000;
}

.flexrowNav {
  display: flex;
  gap: 6px;
}
.flexrowNav a {
  margin-top: 8px;
}

.mainLogo {
  width: 60px;
  height: 60px;
}

.titleMain {
  color: goldenrod;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-size: 62px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: whitesmoke;
  font-size: 72px;
  text-decoration: none;
  font-weight: 400;
  text-transform: capitalize;
}

.naviMenu {
  text-align: right;
  margin-right: 0px;
  margin-left: auto;
}
.naviMenu button {
  background-color: inherit;
  border: none;
  border-style: solid;
  margin-top: 15px;
  border-width: 2px;
  border-radius: 10px;
  border-color: #0D0D1A;
}
.naviMenu button:hover {
  background-color: inherit;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: whitesmoke;
}
.naviMenu button img {
  width: 60px;
  height: 60px;
}
.naviMenu div a {
  background-color: whitesmoke;
  text-align: right;
  --bs-dropdown-link-active-bg: goldenrod;
}
.naviMenu div a:hover {
  background-color: goldenrod;
}

.containerDesktopNav {
  margin-right: 0px;
  padding-bottom: 15px;
}

.naviMenuDESKTOP {
  display: none;
  visibility: hidden;
  text-align: center;
  padding-right: 10px;
  background-color: black;
}
.naviMenuDESKTOP div div {
  margin-top: 0px;
  padding-top: 0px;
  margin-top: 5px;
}
.naviMenuDESKTOP div div:nth-child(2), .naviMenuDESKTOP div div:nth-child(3), .naviMenuDESKTOP div div:nth-child(4), .naviMenuDESKTOP div div:nth-child(5) {
  border: 3px whitesmoke solid;
  background-color: #0D0D1A;
}
.naviMenuDESKTOP div div:nth-child(2):hover, .naviMenuDESKTOP div div:nth-child(3):hover, .naviMenuDESKTOP div div:nth-child(4):hover, .naviMenuDESKTOP div div:nth-child(5):hover {
  background-color: #1E2C3E;
}
.naviMenuDESKTOP div div a {
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-size: 22px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}
.naviMenuDESKTOP div div a:hover {
  color: goldenrod;
}

@media screen and (min-width: 1024px) {
  .flexrowNav {
    gap: 15px;
  }
  .flexrowNav a {
    margin-top: 25px;
  }
  .header {
    border-color: #0D0D1A;
  }
  .naviMenu {
    display: none;
    visibility: hidden;
  }
  .naviMenuDESKTOP {
    display: flex;
    visibility: visible;
  }
}
.btn-primary {
  --bs-btn-active-bg: inherit;
  --bs-btn-active-border-color: inherit;
}

.carousel-caption h2 {
  color: whitesmoke;
  font-size: 50px;
}

.homeBody, .bottomHome {
  color: whitesmoke;
  padding-top: 75px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.titleSection {
  color: goldenrod;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-size: 62px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.bookCarousel {
  background-color: #0D0D1A;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: #0D0D1A;
  align-items: center;
}
.bookCarousel img {
  height: 28vw;
  width: 20vw;
  margin-right: 2vw;
  margin-left: 2vw;
  transition: transform 0.2s;
}
.bookCarousel img:hover {
  transform: scale(1.02);
}

.bottomHome {
  padding-top: 100px;
  padding-bottom: 250px;
}

.onlyElement, .aboutUs, .bottomElement, .topElement {
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 250px;
  color: whitesmoke;
}

.topElement {
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.generalNews {
  background-color: #0D0D1A;
  border: solid;
  border-width: 4px;
  border-color: whitesmoke;
  border-radius: 4vw;
  margin-top: 30px;
}

.middleGround {
  height: 2.2vw;
}

.newsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.newsContainer img {
  width: 100%;
  height: auto;
  object-fit: fill;
  border: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 0.6vw;
  transition: filter 0.3s ease;
}
.newsContainer:hover .image-text {
  opacity: 1;
}
.newsContainer:hover img {
  filter: blur(1px);
}

.image-text {
  text-align: center;
}

.newsContainer .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.3s;
}

.cosmereSagas {
  border-style: solid;
  border-color: whitesmoke;
  background-color: #2f415a;
  border-width: 3px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.textArea {
  margin-right: 15vw;
  margin-left: 15vw;
}
.textArea p {
  text-align: center;
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-size: 22px;
  text-align: center;
}

.whatisCosmere {
  background-image: url(../assets/img/backCosmere.jpg);
  border: none;
  border-radius: 15px;
  border-width: 3px;
}

.textareaCarousel {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 15vw;
  margin-left: 15vw;
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-size: 22px;
  text-align: center;
}

.sagaSelector {
  font-size: 30px;
  text-align: center;
  background-color: #0D0D1A;
  border-color: #0D0D1A;
}

.sagaSelectItem {
  background-color: #0D0D1A;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
}
.sagaSelectItem li a {
  color: whitesmoke;
  text-align: center;
}
.sagaSelectItem li a:active {
  background-color: goldenrod;
}

.bottomElement {
  padding-top: 25px;
  padding-bottom: 250px;
}
.bottomElement h2 {
  margin-top: 50px;
}

.readOrder {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  border: solid whitesmoke;
  border-width: 3px;
  border-radius: 10px;
  transition: transform 0.2s;
}
.readOrder:hover {
  transform: scale(1.1);
}

.bottomMargin {
  margin-bottom: 80px;
}

.titleSpace {
  padding-bottom: 30px;
}

.lastElement {
  margin-bottom: 250px;
}

.aboutUs {
  background-image: url(../assets/img/team3.jpg);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 75px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
  font-weight: 400;
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-size: 22px;
  text-align: center;
}

form {
  margin: auto;
  font-size: 22px;
  border: 5px solid black;
  background-color: #0D0D1A;
  width: 97%;
  padding: 20px;
  padding-bottom: 35px;
  border-radius: 30px;
}
form h2 {
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 50px;
}

.formInput {
  width: 100%;
  color: whitesmoke;
  margin-top: 10px;
  font-size: 22px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid goldenrod;
  border-radius: 2px;
  font-family: "Kanit", sans-serif;
  resize: none;
}

.formSend {
  border: #1E2C3E solid 3px;
  border-radius: 10px;
  width: 15%;
  margin-top: 10px;
  font-size: 22px;
  background-color: goldenrod;
  display: block;
  margin-right: 0px;
  margin-left: auto;
  font-family: "Kanit", sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #0D0D1A;
  color: whitesmoke;
  text-align: right;
  font-size: 18px;
  border-style: solid;
  border-width: medium;
  border-color: black;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 15px;
  font-family: "Kanit", sans-serif;
}
footer h3 {
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-size: 22px;
  text-align: center;
  text-align: inherit;
}
footer p {
  margin-bottom: 0px;
}
footer a {
  color: inherit;
  text-decoration: inherit;
}

.socialLogo {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1080px) {
  .sagaSelector {
    font-size: 15px;
  }
  .sagaSelectItem {
    font-size: 10px;
  }
  .mainLogo {
    margin-top: 3px;
  }
}
@media screen and (max-width: 1024px) {
  .mainLogo {
    margin-top: 10px;
  }
}
@media screen and (max-width: 770px) {
  header {
    padding: 3px 5px 3px 5px;
    gap: 7px;
  }
  .mainLogo {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
  .titleMain {
    font-size: 36px;
  }
  .naviMenu button {
    margin-top: 8px;
  }
  .naviMenu button img {
    width: 30px;
    height: 30px;
  }
  .carousel-caption h2 {
    font-size: 25px;
  }
  .homeBody, .bottomHome {
    color: whitesmoke;
    padding-top: 37px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .bottomHome {
    padding-top: 50px;
    padding-bottom: 125px;
  }
  .onlyElement, .topElement, .bottomElement, .aboutUs {
    padding-top: 25px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 125px;
  }
  .topElement {
    margin-top: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .generalNews {
    margin-top: 15px;
  }
  .newsContainer .image-text {
    padding: 5px;
  }
  .cosmereSagas {
    margin-top: 15px;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .textareaCarousel {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sagaSelector {
    font-size: 15px;
  }
  .sagaSelectItem {
    font-size: 10px;
  }
  .bottomElement {
    padding-top: 13px;
    padding-bottom: 125px;
  }
  .bottomElement h2 {
    margin-top: 13px;
  }
  .readOrder {
    margin-top: 15px;
  }
  .bottomMargin {
    margin-bottom: 40px;
  }
  .titleSpace {
    padding-bottom: 15px;
  }
  .lastElement {
    margin-bottom: 125px;
  }
  .aboutUs {
    padding-top: 25px;
    padding-bottom: 38px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
    font-size: 18px;
  }
  form {
    padding: 10px;
    padding-bottom: 18px;
    border-radius: 15px;
  }
  .formInput {
    margin-top: 5px;
  }
  .formSend {
    margin-top: 5px;
  }
}
@media screen and (max-width: 550px) {
  header {
    padding: 2px 3px 2px 3px;
    gap: 4px;
  }
  .mainLogo {
    width: 20px;
    height: 20px;
    margin-bottom: 7px;
  }
  .titleMain {
    font-size: 25px;
  }
  .naviMenu button {
    margin-top: 3px;
  }
  .naviMenu button img {
    width: 25px;
    height: 25px;
  }
  .carousel-caption h2 {
    font-size: 18px;
  }
  .homeBody, .bottomHome {
    color: whitesmoke;
    padding-top: 19px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .titleSection {
    font-size: 31px;
  }
  .bottomHome {
    padding-top: 10px;
    padding-bottom: 63px;
  }
  .onlyElement, .topElement, .bottomElement, .aboutUs {
    padding-top: 13px;
    padding-left: 18px;
    padding-right: 19px;
    padding-bottom: 63px;
  }
  .topElement {
    margin-top: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .generalNews {
    margin-top: 8px;
  }
  .newsContainer .image-text {
    padding: 3px;
  }
  .cosmereSagas {
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .textArea p {
    font-size: 18px;
  }
  .textareaCarousel {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }
  .sagaSelector {
    font-size: 10px;
  }
  .sagaSelectItem {
    font-size: 10px;
  }
  .bottomElement {
    padding-top: 7px;
    padding-bottom: 63px;
  }
  .bottomElement h2 {
    margin-top: 7px;
  }
  .readOrder {
    margin-top: 8px;
  }
  .bottomMargin {
    margin-bottom: 20px;
  }
  .titleSpace {
    padding-bottom: 8px;
  }
  .lastElement {
    margin-bottom: 63px;
  }
  .aboutUs {
    padding-top: 18px;
    padding-bottom: 19px;
    margin-top: 18px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 4px;
  }
  form {
    padding: 5px;
    padding-bottom: 9px;
    border-radius: 8px;
  }
  form h2 {
    font-size: 25px;
  }
  .formInput {
    margin-top: 3px;
  }
  .formSend {
    margin-top: 3px;
    font-size: 11px;
  }
  footer {
    font-size: 15px;
  }
  footer h3 {
    font-size: 18px;
  }
  .socialLogo {
    width: 15px;
    height: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
