$kanitfont : 'Kanit', sans-serif;

@mixin regular-text {
    color: whitesmoke;
    font-family: $kanitfont;
    line-height: 1.5;
    font-size: 22px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #0D0D1A;
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    border-style: solid;
    border-width: medium;
    border-color: black;
    padding-top: 75px;
    padding-bottom: 100px;
    font-family: $kanitfont;
        div {
            div {
                div {
                    h3 {
                        @include regular-text;
                        text-align: inherit;
                    }
                    p {
                        margin-bottom: 0px;
                            &:hover {
                                color: goldenrod;
                                text-decoration: underline whitesmoke 3px;
                            }
                    }
                    a {
                        color: inherit;
                        text-decoration: inherit;
                            &:hover {
                                color: goldenrod;
                                text-decoration: underline whitesmoke 3px;
                            }
                    }
                }
            }
        }
}

.socialLogo {
    width: 20px;
    height: 20px;
}