$darkerblue: #0D0D1A;
$regularblue: #1E2C3E;
$kanitfont : 'Kanit', sans-serif;

header {
    background-color: $darkerblue;
    position: sticky;
    top: 0px;
    z-index: 500;
}

.flexrowNav {
    display: flex;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    gap: 10px;
        a{
            img {
                width: 60px;
                height: 60px;
            }
        }
        h1 {
            a {
                text-decoration: none;
                font: $kanitfont;
                font-size: 55px;
                color: whitesmoke;
                letter-spacing: 2px;
                font-weight: 600;
            }
        }
}

.desktopNav {
    display: flex;
    align-items: center;
    text-align: center;
        div {
            padding-top: 5px;
            height: 40px;
            width: 150px;
            border-left: solid 2px gray;
                &:nth-child(4) {
                    border-right: solid 2px gray;
                }
                a {
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 20px;
                        &:hover {
                            color: goldenrod;
                        }
                }
        }
}

@media screen and (max-width: 1020px) {
    .desktopNav {
        display: none;
        visibility: hidden;
    }
}