header {
    display: flex;
    background-color: $darkerblue;
    color: whitesmoke;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: medium;
    border-color: black;
    padding: 5px 10px 5px 10px;
    gap: 15px;
    position: sticky;
    top: 0px;
    align-items: center;
    z-index: 5000;
}

.mainLogo {
    width: 60px;
    height: 60px;
}

.titleMain {
    @include title-text;
    color: whitesmoke;
    font-size: 72px;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
}

.naviMenu {
    text-align: right;
    margin-right: 0px;
    margin-left: auto;
        button {
            background-color: inherit;
            border: none;
            border-style: solid;
            border-width: 2px;
            border-radius: 10px;
            border-color: $darkerblue;
                &:hover {
                    background-color: inherit;
                    border-style: solid;
                    border-width: 2px;
                    border-radius: 10px;
                    border-color: whitesmoke;
                }
                img{
                    width: 60px;
                    height: 60px;
                }
        }
        div {
                a{
                    background-color: whitesmoke;
                    text-align: right;
                    --bs-dropdown-link-active-bg: goldenrod;
                        &:hover {
                            background-color: goldenrod;
                        }
                }
        }
}

.btn-primary {
    --bs-btn-active-bg: inherit;
    --bs-btn-active-border-color: inherit;
}